<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <div>
        <table style="width:100%;">
            <tr><td>@Html.ActionLink("Home", "Index", "Home")</td>
            <td>@Html.ActionLink("SVD", "Svd", "RssNews")</td>
            <td>@Html.ActionLink("NT", "nt", "RssNews")</td>
            <td>@Html.ActionLink("Expressen", "expressen", "RssNews")</td></tr>
            


        </table>


        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - skapad av Parastoo Mojabi</p>
            </footer>
        </div>

 
    </div>       
</body>
</html>