@model IEnumerable<WebApplication2.Models.RssNews>
@{
    ViewBag.Title = "ByCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> By Category</h2>

@*
    This is By Category view which shows the same category with source as svd
    The controller for it is RssNewsController method Bycategory
    The input is in list of RssNews objects
    The routing to this page is defined in rout config
*@



@foreach (var item in Model)
{
    <ul>
        <li>Title : @item.Title</li>
        <li>@(new HtmlString(@item.Text)) </li>
        <li>Date : @item.PublicationDate </li>
        <li>Link : @item.Link <a href=@item.Link target="_blank"> open article</a></li>
        <li>Source : @item.Source </li>
        <li>Category : @item.Category</li>

    </ul>
}

<!--http://localhost:6850/RssNews/ByCategory-->