@model IEnumerable < WebApplication2.Models.RssNews>
@{
    ViewBag.Title = "expressen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Expressen Page</h2>
@foreach (var item in Model)
{

    <ul>
        <li>Title : @item.Title</li>
        <li>Text :@(new HtmlString(@item.Text)) </li>
        <li>Date : @item.PublicationDate </li>
        <li>Link : @item.Link <a href=@item.Link target="_blank"> open article</a></li>
        <li>Source : @item.Source </li>
        <li>Category : @item.Category <a href="/RssNews/Category/@item.Category" target="_blank"> same category</a></li>
        <li>Image :@(new HtmlString(@item.Image)) </li>
    </ul>
}

<!--http://localhost:6850/RssNews/expressen-->