@model IEnumerable < WebApplication2.Models.RssNews>
@{
    ViewBag.Title = "Svd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Svd Page</h2>
@*
    This is Svd view
    The controller for it is RssNewsController method svd
    The input is in list of RssNews objects
*@


@foreach (var item in Model)
{  <br>
    <br />


    <ul>
        <li>Title : @item.Title</li>   
        <li>@(new HtmlString(@item.Text)) </li>
        <li>Date : @item.PublicationDate </li>
        <li>Link : @item.Link <a href=@item.Link target="_blank"> open article</a></li>
        <li>Source : @item.Source </li>
        @(new HtmlString(@item.Category_html))
        @(new HtmlString(@item.Image))
    </ul>
}


<!--http://localhost:6850/RssNews/Svd-->